/* LINKS */
a:any-link {
  text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
a:visited{
    opacity: 0.5;
}

/* BUTTON */
button{
    background-color: crimson;
    border-color:cadetblue;
}
button:hover{
    height: 100px;
    width: 310px;
    border-color: blueviolet;
    position: relative;
    animation: BOOM 2s infinite;
}

@keyframes BOOM{
    from{height: 100px;
         width: 310px;
    }
    to{height: 0px;
        width: 0px;
    }
}

/* TO MAKE A DIFFERENT COLOR INSTEAD OF THE USUAL BLUE AND WHITE */
::selection{
    background:coral;
    color:cornflowerblue;
}

/* IMAGE */
img{
    padding:10px;
    border: 5px solid black;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    position:absolute; 
    top:15px;
    right:1000px;
}
img:active{
    filter: invert(1);
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 14px;
  overflow: hidden;         
}
th, td {
  padding: 12px 14px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  text-align: left;
}
thead th {
  font-weight: 700;
  background: rgba(0,0,0,0.05);
}


/* SOME GOOF */
h1{
    font-size: 2rem;
    font-weight: 900;
     background: linear-gradient(
    90deg,
    rgb(255, 0, 0),
    rgb(255, 140, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 200, 255),
    rgb(0, 0, 255),
    rgb(180, 0, 255),
    rgb(255, 0, 0)
  );
   background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: rgbFlow 3s linear infinite;   
}

@keyframes rgbFlow{
    0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}